.pao{
    backgroud-color: #fee36b;
    text-align: center;
    padding-top: 24px;
    padding-bottom: 24px;
    border-top-left-radius: 80px;
    border-top-right-radius: 80px ;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    }