.pao{
    background-color: #e1e8e9;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 24px;
    border-top-left-radius: 80px;
    border-top-right-radius: 80px ;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    }
    .carne-vegetal{
    background-color: ;
    margin:0;
    text-align:center;
    border-radius: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    color: ;
    }
    /* Hellou! gostei do dogao vegano muito top!! as linhas q ta corrompida sao a background-color e a color - por falta de cor*/ 